.places {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.places-title {
    font-size:  30px;
}

.place-listing {
    width:  390px;
    padding:  20px;
    margin:  20px;
    border:  1px solid #FF5A5F;
    border-radius:  4px;
    position: relative;
}

.place-name {
    font-size:  30px;
    text-align: center;
}